body{ 
	margin: 0; 
	font-family:微軟正黑體,Arial, Helvetica ;
	line-height:32px;
	color: #1A1A1A;
}

.circle {
	vertical-align:top;
    display:inline-block;
    margin:0 auto;
    width: 26vw;
    height: 26vw;
    background-size:contain;
    background-image: url('../image/circlemobile.png');
}

@media screen and (max-width: 1200px){ 

	body{
		padding: 0 6% 0 6%;
	}

}

@media screen and (min-width: 1201px){ 

	body{
		padding: 0 15% 0 15%;
	}

}
h1{
	font-weight: bold;
	font-size: 50px;
	line-height: 75px;
}

h2{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px
	color: #000000;
	margin: 40px 0 40px 0;
}

#header-line{
	color: red;
	font-size: 21px;
}

#udnlogo{
	float:right;
	margin-top: 40px;
	margin-bottom: 20px;
}

#pre_text{
	border-left-style: solid;
	border-left-color: #9fa0a0;
	margin-top: 20px;
}

#pre_text p{
	margin-left: 40px;
	font-size: 17px;
	line-height: 26px;
	color: #9fa0a0;
}

#main{
	margin: 40px 0 40px 0;
}

#main p{
	font-size: 21px;

}

#tako{
	width: 100%;
	height: 320px;
	position: absolute;
	top: 0px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#predict-test{
	position: relative;
}

#logo-web{
	margin-top: 20px;
	margin-left: 40px;
}

#predict-test-form{
	margin-top: 30px;
}

#list-town{
	margin-left: 60px;
	font-size: 18px;
	line-height: 18px;
	width: 250px;
}

#list-dist{
	margin-left: 40px;
	font-size: 18px;
	line-height: 18px;
	width: 250px;
}

#test-result{
	margin: 20px auto 20px auto;
	padding-left: 20px;
	overflow: hidden;
}

#predict-test-content{
	margin-top: 199px;
	border-style: solid;
	border-width: 1px;
	border-color: #9fa0a0;
	border-radius: 10px;
	height: auto;
}

#main p.result-title{
	margin-top: 10px;
	line-height: 4vw;
	font-size: 4vw;
	color: #ffffff;
	text-align: center;
}

#main p.result-rank{
	margin-top: 4vw;
	font-size: 8vw;
	line-height: 8vw;
	color: #ffffff;
	text-align: center;
}

#main p.result-mark{
	margin-top: 2vw;
	font-size: 4vw;
	line-height: 3vw;
	color: #ffffff;
	text-align: center;
}

@media screen and (max-width: 400px){

	#tako{
		width: 100%;
		height: 250px;
		position: absolute;
		top: 0px;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}

	#btn-town{
		border-color: #000000;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 24px;
		font-weight: lighter;
	}

	#btn-dist{
		border-color: #000000;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 24px;
		font-weight: lighter;
	}

	#btn-result{
		border-color: #000000;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
		font-size: 26px;
		line-height: 26px;
	}


}

@media screen and (min-width: 401px) and (max-width: 520px){

	#tako{
		width: 100%;
		height: 250px;
		position: absolute;
		top: 0px;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}

	#btn-town{
		border-color: #000000;
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 30px;
		font-weight: lighter;
	}

	#btn-dist{
		border-color: #000000;
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 30px;
		font-weight: lighter;
	}

	#btn-result{
		border-color: #000000;
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 32px;
	}

}

@media screen and (min-width: 521px) and (max-width: 785px){

	#predict-test-content{
		padding-left: 20px;
		margin-top: 251px;
		border-style: solid;
		border-width: 1px;
		border-color: #9fa0a0;
		border-radius: 10px;
	}

	#btn-town{
		border-color: #000000;
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 36px;
		font-weight: lighter;
	}

	#btn-dist{
		border-color: #000000;
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 36px;
		font-weight: lighter;
	}

	#btn-result{
		border-color: #000000;
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		font-size: 40px;
		line-height: 40px;
	}


}

@media screen and (min-width: 786px) and (max-width: 1200px){

	#predict-test-content{
		padding-left: 20px;
		margin-top: 251px;
		border-style: solid;
		border-width: 1px;
		border-color: #9fa0a0;
		border-radius: 10px;
	}

	#btn-town{
		border-color: #000000;
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 36px;
		font-weight: lighter;
	}

	#btn-dist{
		border-color: #000000;
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 36px;
		font-weight: lighter;
	}

	#btn-result{
		border-color: #000000;
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		font-size: 40px;
		line-height: 40px;
	}

}

.comment{
	margin-top: 100px;
}

.comment p{
	font-size: 15px;
	color: #7F7F7F;
}

#result-img{
	margin-top: 40px;
}

.predict-btn{
	width: 100%;
}

#year-select{
	margin: 20px 0 20px 0;
	font-size: 24
}

.year{
	font-size: 24px;
	line-height: 36px;
	color: #9fa0a0;
	cursor: pointer;
}

#footer{
	margin-top: 80px;
}

#share{
	width: 50%;
	margin-top: 20px;
	cursor: pointer;
}

.btn-group{
	width: 100%;
}